.dn {
  display: none;
}
img {
  width: 100%;
  height: auto;
  /* 禁止图片长按保存 */
  pointer-events: none;
  /* 那个图片要用就设auto */
  /* pointer-events: auto; */
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
select {
  outline: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
div {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a,
button,
input,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img[src=""] {
  display: none;
}
body,
html {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
}
::-webkit-input-placeholder {
  color: #999;
}
.pg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*登录框开始*/
.login {
  width: 100%;
  padding-bottom: 7.73333333vw;
  background: url("../img/bg.png") no-repeat;
  background-size: 100%;
}
.logo {
  display: flex;
  justify-content: center;
  padding-top: 7.33333333vw;
  margin-bottom: 21.33333333vw;
}
.logo img {
  width: 8.66666667vw;
  height: 5.33333333vw;
}
.logo h2 {
  font-size: 4.66666667vw;
  color: #fff;
}
.nav ul {
  display: flex;
  margin-left: 3.33333333vw;
}
.nav ul li {
  width: 33.33333333vw;
  height: 7.86666667vw;
  font-size: 3.2vw;
  text-align: center;
  line-height: 7.86666667vw;
  background-color: #979899;
  color: #666;
  border-radius: 1.33333333vw 1.33333333vw 0 0;
}
.nav ul .point {
  background-color: #1175d2;
  color: #fff;
}
.item {
  width: 93.33333333vw;
  height: 66.66666667vw;
  background-color: rgba(255, 255, 255, 0.8);
  margin-left: 3.33333333vw;
  box-sizing: border-box;
  padding: 23.73333333vw 0 0 0;
}
.item:nth-child(2) {
  display: none;
}
.item .con-b {
  text-align: center;
}
.item .con-b p {
  font-size: 27px;
  color: #666;
}
.item .con-b p span {
  color: #f99400;
}
.account {
  margin-top: 26.13333333vw;
}
.account span {
  font-size: 3.6vw;
  color: #1175d2;
  border-bottom: 1px solid #1175d2;
  padding-bottom: 1.33333333vw;
}
.copy {
  margin: 53.33333333vw 0 0 34vw;
}
.copy span {
  font-size: 3.2vw;
  color: #fff;
  margin-right: 4.53333333vw;
}
/*登录框结束*/
