.container {
  background-color: pink;
  height: 40px;
}
.container [class^="col-lg"] {
  height: 40px;
  background-color: skyblue;
  border-right: 1px solid #fff;
}
.second [class^="col-lg"] {
  margin-top: 5px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  border-right: 1px solid #fff;
}
