/* css特殊样式 开始 */

img {
    width: 100%;
    vertical-align: middle;
    height: auto;
    /* 禁止图片长按保存 */
    pointer-events: none;
    /* 那个图片要用就设auto */
    /* pointer-events: auto; */
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
select {
    outline: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

div {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
button,
input,
textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img[src=""] {
    display: none;
}


/* css特殊样式 结束 */

body {
    width: 100%;
    min-width: 320px;
    max-width: 540px;
    height: 100%;
    margin: 0 auto;
    background: #fafafc;
    font: 400 16px/1.5 PingFangSC-regular, Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
}


/* 顶部搜索开始  */

.search-index {
    position: fixed;
    display: flex;
    width: 100%;
    min-width: 320px;
    max-width: 540px;
    height: 43px;
    /* box-sizing: border-box; */
    /* background-color: pink; */
    border-bottom: 1px solid #ccc;
}

.search {
    position: relative;
    flex: 1;
    height: 24px;
    line-height: 24px;
    padding-left: 25px;
    margin: 8px;
    border: 1px solid #999;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(153, 153, 153, .6);
    font-size: 12px;
    color: #666;
}

.search::before {
    position: absolute;
    left: 8px;
    top: 6px;
    width: 13px;
    height: 13px;
    content: "";
    background: url("../img/sprite.png") no-repeat -60px -280px;
    background-size: 104px;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 42px;
    text-align: center;
    font-size: 14px;
    color: #2eaae0;
}

.person:hover {
    color: #2eaae0;
}

.person::before {
    width: 23px;
    height: 23px;
    margin-bottom: -5px;
    content: "";
    background: url("../img/sprite.png") no-repeat -60px -194px;
    background-size: 104px;
}


/* 顶部搜索结束 */


/* 轮播图开始 */

.focus {
    width: 100%;
    padding-top: 44px;
}


/* 轮播图结束 */


/* 本地导航开始 */

.local-nav {
    height: 64px;
    margin: 4px;
    background-color: #fff;
    border-radius: 4px;
}

.local-nav ul {
    display: flex;
    justify-content: space-around;
}

.local-nav li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: #222;
}

span[class^="local-icon"] {
    width: 32px;
    height: 32px;
    margin-top: 6px;
    background: url("../img/localnav_bg.png") no-repeat 0 0;
    background-size: 32px;
}

.local-nav .local-icon2 {
    background-position: 0 -32px;
}

.local-nav .local-icon3 {
    background-position: 0 -64px;
}

.local-nav .local-icon4 {
    background-position: 0 -96px;
}

.local-nav .local-icon5 {
    background-position: 0 -128px;
}


/* 本地导航结束 */


/* 主导航开始 */

nav {
    margin: 4px;
}

.nav-box {
    display: flex;
}

.nav-box li {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
}

.nav-box li a {
    line-height: 43px;
    color: #fff;
    font-size: 14px;
    box-sizing: border-box;
}

.nav-box li:nth-of-type(-n+2) {
    border-right: #fff solid 1px;
}

.nav-box li:nth-of-type(n+2) a:first-of-type {
    border-bottom: #fff solid 1px;
}

.nav-box:nth-of-type(1) {
    background: linear-gradient(to right, #fa5b56, #fa9a4b);
    ;
    border-radius: 4px 4px 0 0;
}

.nav-box:nth-of-type(2) {
    margin: 3px 0;
    background: linear-gradient(to right, #4b8fed, #52b9ed);
    ;
}

.nav-box:nth-of-type(3) {
    background: linear-gradient(to right, #35c2a9, #6bd559);
    ;
    border-radius: 0 0 4px 4px;
}

.items {
    background: url("../img/hotel.png") no-repeat center bottom;
    background-size: 140px;
}


/* 主导航结束 */


/* 次导航栏开始 */

.subnav-entry {
    display: flex;
    flex-wrap: wrap;
    margin: 4px;
    background-color: #fff;
    border-radius: 4px;
}

.subnav-entry li {
    display: flex;
    flex-direction: column;
    flex: 0 0 20%;
    margin-bottom: 8px;
    align-items: center;
    text-align: center;
}

span[class^="subnav-icon"] {
    width: 24px;
    height: 24px;
    margin-top: 11px;
    background: url("../img/subnav-bg.png") no-repeat 0 0;
    background-size: 24px;
}

.subnav-entry li span:nth-of-type(2) {
    font-size: 14px;
    color: #222;
    margin-bottom: 8px;
}

.subnav-entry .subnav-icon2 {
    background-position: 0 -24px;
}

.subnav-entry .subnav-icon3 {
    background-position: 0 -51px;
}

.subnav-entry .subnav-icon4 {
    background-position: 0 -85px;
}

.subnav-entry .subnav-icon5 {
    background-position: 0 -115px;
}

.subnav-entry .subnav-icon6 {
    background-position: 0 -140px;
}

.subnav-entry .subnav-icon7 {
    background-position: 0 -170px;
}

.subnav-entry .subnav-icon8 {
    background-position: 0 -200px;
}

.subnav-entry .subnav-icon9 {
    background-position: 0 -225px;
}

.subnav-entry .subnav-icon10 {
    background-position: 0 -250px;
}


/* 次导航栏结束 */


/* 销售模块开始 */

.sales-box {
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    background-color: #fff;
}

.sales-hd {
    position: relative;
    height: 44px;
    border-bottom: 1px solid #f2f2f2;
}

.hot {
    position: absolute;
    left: 9px;
    top: 15px;
    width: 75px;
    height: 16px;
    background: url("../img/hot.png") no-repeat 0 -20px;
    background-size: 79px;
}

.sales-more {
    position: absolute;
    top: 11px;
    right: 9px;
    padding: 4px 15px 4px 10px;
    border-radius: 15px;
    background: linear-gradient(to right, #ff4f66, #ff6ac3);
    ;
    font-size: 12px;
    color: #fff;
}

.sales-more::after {
    content: "";
    position: absolute;
    right: 50%;
    top: 8px;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border: 1px solid #fff;
    border-bottom: none;
    border-left: none;
    transform: rotate(45deg);
}

.sales-bd {
    display: flex;
    flex-wrap: wrap;
}

.sales-bd a {
    flex: 0 0 50%;
    box-sizing: border-box;
    border-top: 1px solid #f2f2f2;
}

.sales-bd a:nth-of-type(2n-1) {
    border-right: 1px solid #f2f2f2;
}


/* 销售模块结束 */


/* 页面底部 开始 */

.footer-app {
    display: flex;
    justify-content: space-around;
    height: 49px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #c2c2c2;
    background-color: #fff;
}

.footer-app a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-app span[class^="app-icon"] {
    width: 18px;
    height: 18px;
    background: url(../img/sprite.png) no-repeat -60px -154px;
    background-size: 104px;
}

.footer-app span {
    font-size: 12px;
}

.footer-app a .app-icon2 {
    background-position: -60px -174px;
}

.footer-app a .app-icon3 {
    background-position: -60px -310px;
}

.footer-link {
    text-align: center;
    color: #888;
    font-size: 12px;
    margin: 8px 0;
}

.footer-link a {
    color: #666;
    font-size: 12px;
    padding: 0 10px;
}

.footer-link a.lang {
    position: relative;
}

.footer-link a.lang::before {
    position: absolute;
    left: 0;
    top: 50%;
    content: "";
    width: 11px;
    height: 11px;
    margin-top: -6px;
}

.footer-link a.lang::after {
    position: absolute;
    right: 2px;
    top: 50%;
    content: "";
    width: 6px;
    height: 6px;
    margin-top: -2px;
    border: 1px solid #868686;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
}

.footer-copy {
    text-align: center;
    font-size: 12px;
    color: #999;
    padding-bottom: 12px;
}

.footer-copy a {
    color: #999;
}


/* 页面底部 结束 */