/* 公共样式 */
.fl {
  float: left;
}
.fr {
  float: right;
}
.red {
  color: #e33333;
}
input,
button {
  outline: none;
}
body {
  background-color: #fff;
}
/* 版心 */
.w1590 {
  width: 15.9;
  margin: 0 auto;
}
.w1800 {
  width: 1800px;
  margin: 0 auto;
}
/* 导航栏开始 */
.nav {
  height: 160px;
}
.logo {
  margin: 42px 0 0 20px;
}
.coats li {
  float: left;
  width: 113px;
  height: 97px;
  text-align: center;
  padding: 55px 0 4px 0;
}
.coats li:nth-of-type(4) {
  width: 180px;
}
.coats li:nth-of-type(5) {
  width: 180px;
}
.coats li:nth-of-type(6) {
  width: 150px;
}
.coats li:nth-of-type(7) {
  width: 150px;
}
.coats li:hover {
  background-color: #efefef;
  border-bottom: 4px solid #988878;
}
.coats li a {
  color: #000;
}
.coats li span {
  display: block;
  font-size: 16px;
  font-weight: bold;
}
.coats li i {
  display: block;
  font-size: 18px;
}
/* 导航栏结束 */
/* 页脚开始 */
.footer {
  padding-bottom: 140px;
}
.media {
  padding-top: 140px;
}
.footer {
  background-color: #1f1f1f;
}
.footer-l dl {
  float: left;
}
.footer-l dl:first-child {
  margin: 0 225px 0 127px;
}
.footer-l dl:nth-of-type(2) {
  margin-right: 215px;
}
.footer-r {
  text-align: right;
  margin-right: 145px;
}
.footer-l dt {
  color: #fdfdfd;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 35px;
}
.footer-l dd {
  font-size: 16px;
  color: #808080;
  margin-bottom: 20px;
}
.footer-l dd:hover {
  color: #fff;
}
.footer-r img {
  margin-bottom: 96px;
}
.footer-r p {
  font-size: 16px;
  color: #818181;
  margin-bottom: 16px;
}
/* 页脚结束 */
