/* 公共样式表 */

@font-face {
    font-family: 'icomoon';
    src: url('../font/icomoon.eot?7kkyc2');
    src: url('../font/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'), url('../font/icomoon.ttf?7kkyc2') format('truetype'), url('../font/icomoon.woff?7kkyc2') format('woff'), url('../font/icomoon.svg?7kkyc2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.red {
    color: #e33333;
}

input,
button {
    outline: none;
}

body {
    background-color: #fff;
}


/* 版心 */

.w1200 {
    width: 1200px;
    margin: 0 auto;
}


/* 快捷导航栏 开始 */

.shortcut {
    width: 100%;
    height: 30px;
    background-color: #f1f1f1;
}

.login li {
    float: left;
    line-height: 30px;
}

.login a {
    padding: 0 2px;
}

.s-nav li {
    float: left;
    line-height: 30px;
}

.s-nav .icomoon {
    font-family: "icomoon";
    font-size: 16px;
    line-height: 26px;
}

.s-nav li:hover .icomoon {
    color: #e33333;
}

.sep {
    width: 1px;
    height: 12px;
    margin: 9px 14px 0 16px;
    background-color: #666;
}


/* 快捷导航栏 结束 */


/* head 开始 */

.head {
    height: 106px;
    background-color: #fff;
}

.head-inner {
    position: relative;
}

.logo {
    position: absolute;
    left: 0px;
    top: 26px;
    width: 175px;
    height: 56px;
}

.logo a {
    display: block;
    width: 175px;
    height: 56px;
    background: url("../img/logo.png") no-repeat center;
    /* 让文字不显示 */
    font-size: 0;
}

.search-box {
    position: absolute;
    left: 347px;
    top: 26px;
}

.search-text {
    width: 454px;
    height: 32px;
    text-indent: 10px;
    color: #666;
    border: 2px solid #b1191a;
    border-right: none;
}

.search button {
    width: 82px;
    height: 36px;
    margin-left: -4px;
    background-color: #b1191a;
    font-size: 16px;
    color: #fff;
    border: none;
}

.hotwords {
    margin-top: 8px;
}

.hotwords a {
    padding: 0 12px;
}

.shopcar {
    position: absolute;
    right: 64px;
    top: 26px;
}

.shopcar a {
    position: relative;
    display: block;
    width: 138px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    background-color: #f7f7f7;
    border: 1px solid #dfdfdf;
}

.car {
    font-family: "icomoon";
    color: #e33333;
    margin-right: 7px;
}

.arrow {
    font-family: "icomoon";
}

.total {
    position: absolute;
    left: 105px;
    top: -4px;
    /* 这个地方要用padding撑开,因为数据是变化的,不能定时宽度 */
    padding: 0 5px;
    line-height: 16px;
    background-color: #e33333;
    color: #fff;
    border-radius: 8px 8px 8px 0;
}


/* head 结束 */


/* 导航栏开始 */

.nav-box {
    height: 45px;
    border-bottom: 2px solid #b1191a;
}

.dropdown {
    width: 209px;
}

.dt {
    height: 45px;
    line-height: 45px;
    color: #fff;
    font-size: 16px;
    background-color: #b1191a;
    text-align: center;
}

.dd {
    width: 100%;
    height: 466px;
    margin-top: 2px;
    background-color: #c81623;
    overflow: hidden;
}

.dd ul {
    margin-top: 8px;
}

.dd li {
    line-height: 30px;
    padding: 0 11px;
    color: #fff;
}

.dd li a {
    color: #fff;
    font-size: 14px;
}

.dd li:hover {
    background-color: #ccc;
}

.dd a:hover {
    color: #c81623;
}

.navitems {
    margin-left: 10px;
}

.navitems li {
    float: left;
    line-height: 45px;
    padding: 0 24px;
}

.navitems a {
    display: block;
    font-size: 16px;
    color: #333;
}

.navitems a:hover {
    color: #e33333;
}


/* 导航栏 结束 */


/* 页面底部 开始 */

.footer {
    width: 100%;
    padding: 30px 0;
    background-color: #f5f5f5;
}

.mod-service {
    border-bottom: 1px solid #ededed;
}

.mod-service li {
    float: left;
    width: 240px;
    height: 80px;
}

.mod-icon {
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 35px;
    background: url("../img/icons.png") no-repeat;
}

.mod-zheng {
    background-position: -253px -3px;
}

.mod-topspeed {
    background-position: -254px -54px;
}

.mod-sale {
    background-position: -256px -106px;
}

.mod-special {
    background-position: -258px -157px;
}

.mod-support {
    background-position: -257px -209px;
}

.msg {
    float: left;
    margin-left: 7px;
}

.msg h5 {
    line-height: 28px;
    font-size: 14px;
}

.msg p {
    font-size: 12px;
}

.mod-help {
    padding: 20px 53px;
    border-bottom: 1px solid #ededed;
}

.mod-help dl {
    float: left;
    width: 198px;
}

.mod-help dt {
    height: 28px;
    font-size: 16px;
}

.mod-help a {
    font-size: 12px;
    color: #333;
    line-height: 21px;
}

.mod-help a:hover {
    color: #e33333;
}

.mod-help .last {
    width: 185px;
}

.mod-help .app {
    width: 95px;
}

.app {
    text-align: center;
}

.mod-copyright {
    margin-top: 20px;
    text-align: center;
}

.link a {
    padding: 0 15px;
}

.mod-copyright p {
    margin-top: 12px;
    font-size: 12px;
    line-height: 20px;
}


/* 页面底部 结束 */