/* head  logo部分 */

.log {
    position: absolute;
    top: 45px;
    left: 184px;
    width: 83px;
    height: 32px;
    border-left: 1px solid #c81623;
}

.log img {
    margin-left: 14px;
}


/* head  logo部分 结束*/


/* 导航栏 */

.na {
    height: 47px;
    border-bottom: 2px solid #b1191a;
}

.nav-t li {
    float: left;
    margin-right: 46px;
    line-height: 47px;
}

.nav-t a {
    font-size: 14px;
    color: #666;
}

.nav-t a:hover {
    color: #c81623;
}

.nav-t .seckill {
    margin-right: 56px;
}

.nav-t .seckill a {
    color: black;
    line-height: 47px;
    font-weight: 700;
    font-size: 16px;
}

.bg {
    margin-bottom: 24px;
}


/* 导航栏结束 */


/* 内容 */

.con-t li {
    float: left;
    width: 286px;
    height: 460px;
    /* background-color: pink; */
    margin: 0 12px 15px 0;
    border: 1px solid transparent;
}

.con-t li:hover {
    border: 1px solid #e12228;
}

.con-t h5 {
    font-size: 14px;
    color: #666;
    font-weight: 400;
    margin: 9px 0;
}

.con-t .money {
    font-size: 12px;
    color: #e60012;
}

.con-t .new {
    font-size: 20px;
    color: #c81623;
}

.con-t .old {
    color: #666;
    font-size: 12px;
    text-decoration: line-through;
}

.writing {
    margin: 0 13px;
}

.sold {
    font-size: 14px;
    color: #707070;
}

.were {
    font-size: 14px;
    color: #707070;
}

.con-t .letter {
    color: #e12228;
}

.now {
    display: block;
    width: 286px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 19px;
    color: #f5e0e0;
    margin-top: 10px;
    background-color: #b1191a;
    padding-left: 1px;
}


/* 内容结束 */


/* 分页 */

.page {
    padding: 40px 0;
    text-align: center;
}

.tp a {
    display: inline-block;
    width: 38px;
    height: 38px;
    color: #666;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 38px;
}

.tp .one {
    width: 85px;
    height: 38px;
}

.te {
    width: 60px;
    height: 44px;
    border: none;
    margin: 0 4px;
    border: 1px solid #666;
}

.tp button {
    width: 40px;
    height: 40px;
}


/* 分页结束 */


/* 固定 */

.fixation {
    position: fixed;
    top: 50%;
    right: 15%;
}


/* 固定结束 */