/* 公共样式 */

.fl {
    float: left;
}

.fr {
    float: right;
}

.red {
    color: #e33333;
}

input,
button {
    outline: none;
}

body {
    background-color: #fff;
}


/* 版心 */

.w1200 {
    width: 1200px;
    margin: 0 auto;
}