.box {
  border-color: transparent transparent transparent gray;
  border-color: transparent gray transparent transparent;
  border-color: gray transparent transparent transparent;
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent gray transparent;
}
